



<html>
<head>
 <title>Expo Modelo 2017</title>
    <style type="text/css">
        body{ text-align: center; }
        #cont{ width: 693px; margin: 0 auto 0 auto; text-align: left;}
        #encabezado{ height: 32px; margin-bottom: 40px; width: 693px;}

        #menu{ width: 180px; float: left; text-transform: uppercase}
        #pie{ clear: both; height: 296px;}
    </style>
</head>
<body>
<body background = {{ static }}paginaProyecto.png>
<div id = contenido>
	<h1 style="font-family: PTF55F;"><span style="color:#b2b2b2">Proyecto 5to Computacion</span></h1>
</div>
</body>
</html>