<html>
<head>
    <title>Proyectos de Computacion</title>
</head>
    <div style="background-color:#aaa; height:200px;width:855px;float:left;">
        <div><p style = "color:#aaa";>.</p></div>
        <div><h1> <center> {{titulo}} </center> </h1></div>
    </div>

    <div style="background-color:#ddd; height:200px;width:465px;float:right;">
        <div><h4> <center> {{guia}} </center> </h4></div>
    </div>

    <div style= height:220px;width:855px;">
    </div>
    <div style="background-color:#ddd; height:410px;width:855px;float:left;">
        <div><p style = "color:#aaa";>.</p></div>
        <div><h2> <center> {{descripcion}} </center> </h2></div>
    </div>

    <div style="background-color:#bbb; height:410px;width:465px;float:right;">
        <div>{{ imagenes }}</div>
    </div>

<body>
</body>
</html>