<html>
<head>
    <title>Proyectos de Computacion</title>
</head>


<body>


    <div style="background-image: url('imagenes/fondo2.png')">
    <h1>{{titulo}}<span>&nbsp;</span></h1>
    </div>

    <div style="background-color:#ddd; height:200px;width:465px;float:right;">
        <div><h4> <center> {{guia}} </center> </h4></div>
    </div>

    <div style= height:220px;width:855px;">
    </div>
    <div style="background-color:#ddd; height:410px;width:855px;float:left;">
        <div><p style = "color:#ddd";>.</p></div>
        <div><h2>{{descripcion}}</h2></div>
    </div>

    <div style="background-color:#bbb; height:410px;width:465px;float:right;">
        <div>{{ imagenes }}</div>
    </div>
</body>
</html>